<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.telus.ninjaapplication.utilities.Listeners"></listener>
</listeners>
  <test thread-count="5" name="TestNGSuite">
    <classes>
      <class name="com.telus.ninjaapplication.testcases.TestDataEndToEndApplication"/>
    </classes>
  </test> <!-- TestNGSuite -->
</suite> <!-- Suite -->
